<h2>Autoryzacja</h2>
<button (click)="authorize()">Autoryzacja</button>

<h2 class="mb-4">Zmień domyślny kalendarz</h2>
<form (submit)="changeCalendarId()" class="p-4 bg-light rounded">
  <div class="mb-3">
    <label for="calendarId">
      Id kalendarza:
    </label>
    <select [(ngModel)]="calendarId" class="form-control" id="calendarId" name="calendarId">
      @for (calendar of possibleCalendarIds; track calendar) {
        <option [ngValue]="calendar.id">{{ calendar.summary }}
        </option>
      }
    </select>
  </div>
  <button class="btn btn-primary btn-block" type="submit">Zatwierdź</button>
</form>

