<div class="container">
  <h1>Skontaktuj się z nauczycielem</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label>Nauczyciel:</label>
      <select [(ngModel)]="tutorId" [ngModelOptions]="{standalone: true}" class="form-control">
        <option *ngFor="let tutor of tutors" [id]="tutor.id" [ngValue]="tutor.id"> {{ tutor.name }} {{ tutor.surname }}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Wyświetl dane kontaktowe</button>
  </form>
  <hr>
  <div *ngIf="formSubmitted">
    <h3>E-mail: <b>{{ tutor.email }}</b></h3>
    <h3>Numer telefonu: <b>{{ tutor.phoneNumber }}</b></h3>
  </div>
</div>

