<form>
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <input type="text" class="form-control" id="startDate" [(ngModel)]="event.start.dateTime.value" placeholder="{{ event.start.dateTime.value | date: 'dd-MM HH:mm' }}">
  </div>
  <div class="form-group">
    <label for="endDate">End Date:</label>
    <input type="text" class="form-control" id="endDate" [(ngModel)]="event.end.dateTime.value" placeholder="{{ event.end.dateTime.value | date: 'dd-MM HH:mm' }}">
  </div>
  <div class="form-group">
    <label for="summary">Summary:</label>
    <input type="text" class="form-control" id="summary" [(ngModel)]="event.summary" placeholder="{{ event.summary }}">
  </div>
  <div class="form-group">
    <label for="id">ID:</label>
    <input type="text" class="form-control" id="id" [(ngModel)]="event.id" placeholder="{{ event.id }}">
  </div>
</form>
