<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!authService.isAuthenticated()" class="col-md-4 col-md-offset-4 login-form">
        <h2 class="text-center mb-4">Zaloguj się</h2>
        <form (submit)="login()" class="p-4 bg-light rounded">
          <div class="form-group">
            <label for="email">
              <!--              <img alt="Ikona loginu" src="assets/login.png" width="32px">-->
              E-mail:
            </label>
            <input [(ngModel)]="email" class="form-control" id="email" name="email" required
                   type="text">
          </div>
          <div class="form-group">
            <label for="password">
              <!--              <img alt="Ikona hasła" src="assets/password.png" width="32px">-->
              Hasło:
            </label>
            <input [(ngModel)]="password" class="form-control" id="password" name="password"
                   required
                   type="password">
          </div>
          <div class="checkbox">
            <label>
              <input [(ngModel)]="isTutor" [ngModelOptions]="{standalone: true}" type="checkbox">Jestem nauczycielem
            </label>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>
      </div>
      <!--      <div *ngIf="authService.isAuthenticated()">-->
      <!--        <div class="logout-form">-->
      <!--          <form (submit)="logout()" class="p-4 bg-light rounded">-->
      <!--            <button class="btn btn-primary btn-block" type="submit">Logout</button>-->
      <!--          </form>-->
      <!--        </div>-->
      <!--        <div *ngIf="authService.isTutorLoggedIn()">-->
      <!--          <h2 class="text-center mb-4">Change default calendar:</h2>-->
      <!--          <input type="text">-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
