<div class="container">
  <h1 class="mt-5">Cennik korepetycji</h1>

  <h2>Matematyka</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Poziom</th>
        <th>Cena za godzinę</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Początkujący</td>
        <td>50 zł</td>
      </tr>
      <tr>
        <td>Średniozaawansowany</td>
        <td>60 zł</td>
      </tr>
      <tr>
        <td>Zaawansowany</td>
        <td>70 zł</td>
      </tr>
    </tbody>
  </table>

  <h2>Język francuski</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Poziom</th>
        <th>Cena za godzinę</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Początkujący</td>
        <td>40 zł</td>
      </tr>
      <tr>
        <td>Średniozaawansowany</td>
        <td>50 zł</td>
      </tr>
      <tr>
        <td>Zaawansowany</td>
        <td>60 zł</td>
      </tr>
    </tbody>
  </table>
</div>
<app-single-event></app-single-event>
