<div class="container">
  <h1>Cennik</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label>Nauczyciel:</label>
      <select [(ngModel)]="tutorId" [ngModelOptions]="{standalone: true}" class="form-control">
        <option *ngFor="let tutor of tutors" [id]="tutor.id" [ngValue]="tutor.id">{{ tutor.name }} {{ tutor.surname }}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Zobacz ceny</button>
  </form>
  <hr>
  <app-show-pricing *ngIf="formSubmitted" [pricings]="pricings"/>
</div>

