<div class="container">
  <h1>Cennik</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label>Nauczyciel:</label>
      <select [(ngModel)]="tutorId" [ngModelOptions]="{standalone: true}" class="form-control">
        <option *ngFor="let tutor of tutors" [id]="tutor.id" [ngValue]="tutor.id">{{ tutor.name }} {{ tutor.surname }}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Zobacz ceny</button>
  </form>
  <hr>
  <table *ngIf="formSubmitted" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Poziom</th>
      <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let pricing of pricings">
      <tr>
        <td>{{ pricing.level }}</td>
        <td>{{ pricing.price }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

