<div class="container">
  <h1>Zarezerwuj termin</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label>Czas trwania zajęć:</label>
      <select [(ngModel)]="lessonTime" [ngModelOptions]="{standalone: true}" class="form-control">
        <option *ngFor="let lessonTime of lessonTimes" [id]="lessonTime" [ngValue]="lessonTime">{{ lessonTime }} minut
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Nauczyciel:</label>
      <select [(ngModel)]="tutorId" [ngModelOptions]="{standalone: true}" class="form-control">
        <option *ngFor="let tutor of tutors" [id]="tutor.id" [ngValue]="tutor.id">{{ tutor.name }} {{ tutor.surname }}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Wyszukaj terminy</button>
  </form>
</div>
<!-- Godziny + zatwierdź -->
<div *ngIf="formSubmitted">
  <div
    style="display: flex; height: 400px; width: 100%; padding-left: 15px; padding-right: 15px; flex-wrap: wrap; justify-content: space-between">
    <div *ngFor="let day of calendarDates | keyvalue">
      {{ day.key }}
      <form #userForm="ngForm" (submit)="confirmReservation(startDateTime,day.key)" [id]="day.key" class="form">
        <div class="">
          <select [(ngModel)]="startDateTime" [id]="'select' + day.key" [name]="'select' + day.key"
                  [ngModelOptions]="{standalone: true}" class="form-control text-center">
            <ng-container *ngFor="let dayValues of day.value">
              <option [ngValue]="dayValues">{{ dayValues.fromHour }}</option>
            </ng-container>
          </select>
          <br/>
          <button class="btn btn-primary" type="submit">Zatwierdź</button>
        </div>
      </form>
    </div>
  </div>
</div>
